name: Build and Deploy to Cloud Run

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Build and Push Container
        run: |
          gcloud builds submit --tag europe-north1-docker.pkg.dev/${{ vars.PROJECT_ID }}/hello-repo/flask-app:${{ github.sha }} .

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: hello-flask
          image: europe-north1-docker.pkg.dev/${{ vars.PROJECT_ID }}/hello-repo/flask-app:${{ github.sha }}
          region: europe-north1
          flags: '--allow-unauthenticated'
